.header {
  position: fixed;
  top: 0;
  left: 50%;
  width: 77%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 10px;
  color: white;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0.5, 0.5, 0.5, 0.5);
}

.App {
background-color:#D9D9D9;
}

.app-name {
  margin-left: 10px;
  font-weight: bold;
  font-size:1.8rem;
  color: #23A37C;
  background-color: white;
  border: 0px solid grey;
}


.container_1 {
  display: flex;
  height: 80vh;
}

.container_2 {
    text-align:center;
  height: 80vh;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  padding: 0 60px;
}

.left3 {
    flex:  1;
      display: flex;
      justify-content: center;
      align-items: center;
  background-color: #23A37C;
  padding:20em 6em;
}


.right3 {
    flex: 1;
    padding:2em 2em;
    background-color: #23A37C;
}

.data-container {
      width: 200px;
      margin-top: -10px;
      margin-bottom: 10px;
      border: 1px solid grey;
      padding: 0px 10px;
      border-radius: 25px;
      font-size: 1.4rem;
      background-color: #D9D9D9;
}

.data-container2 {
      gap: 8px;
      display: flex;
      width: 580px;
      height: 50px;
      margin:25px 0;
      padding: 0px 10px;
      font-size: 1.4rem;
      background-color: #D9D9D9;
}


.transport1 {
    gap: 8px;
    display: flex;
    width: 400px;
    height: 50px;
    margin-bottom: 25px;
    padding: 16px 40px;
    font-size: 1.4rem;
    background-color: #D9D9D9;
   justify-content: center;
       align-items: center;
}

.map-container-2 {
    margin-top:40px;
}

.logo-container {
  display: flex;
  align-items: center;

}

.logo {
  width: 50px;
  height: 45px;
}


.container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 60px;
}


.submit-button-2 {
    width: 80px;
    margin:0px 40px;
      font-size: 1.4rem;
  cursor: pointer;
  color: #D9D9D9;
  background-color: black;
}

.routes2 {
    width: 480px;
    height: 455px;
    padding: 16px 40px;
    font-size: 1.4rem;
    background-color: #FFFFFF;
    border-radius:40px;
    margin-top:10vh;
}

.input-field-1 {
  width: 90%;
  max-width: 400px;
  margin-bottom: 25px;
  border: 1px solid #fff;
  padding: 16px 40px;
  border-radius: 25px;
  font-size: 1.4rem;
    background-color:#D9D9D9;
}

.submit-button-3 {
    width: 100%;
    max-width: 500px;
    padding: 16px 40px;
      border-radius: 25px;
      font-size: 1.4rem;
  cursor: pointer;
  color: #D9D9D9;
  border: 1px solid #fff;
  background-color: black;
}


.review_heading {
font-size:40px;
font-weight:bold;
}

.review_bar {
background-color : white;
width:100%;
height:400px;
}